html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-family:Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
	font-size:100%;
	vertical-align:baseline
}
body {
	line-height:1;
	color:#000;
	background:#fff
}
ol,ul {
	list-style:none
}
table {
	border-collapse:separate;
	border-spacing:0;
	vertical-align:middle
}
caption,th,td {
	text-align:left;
	font-weight:normal;
	vertical-align:middle
}
a img {
	border:none
}
/* Public style */
* {
	-webkit-margin-before:0;
	-webkit-margin-after:0
}
body {
	background:#ddd;
	font-family:"Helvetica Neue","Helvetica","Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif;
	font-size:100%;
	color:#817c7c;
	line-height:1.5
}
iframe {
	margin-top:10px
}
small {
	font-size:80%
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {
	top:-.5em;
	padding-left:.3em
}
sub {
	bottom:-.25em
}
a {
	text-decoration:none;
	color:#817c7c;
}
a:hover,a:focus {
	outline:0;
	text-decoration:none;
	-webkit-transition:color 0.25s,background 0.5s;
	-moz-transition:color 0.25s,background 0.5s;
	-o-transition:color 0.25s,background 0.5s;
	-ms-transition:color 0.25s,background 0.5s;
	transition:color 0.25s,background 0.5s
}
a:hover:before {
	-webkit-transition:color 0.25s,background 0.5s;
	-moz-transition:color 0.25s,background 0.5s;
	-o-transition:color 0.25s,background 0.5s;
	-ms-transition:color 0.25s,background 0.5s;
	transition:color 0.25s,background 0.5s
}
input:focus {
	outline:none
}
input,button {
	margin:0;
	padding:0;
}
input::-moz-focus-inner,button::-moz-focus-inner {
	border:0;
	padding:0
}
h1 {
	font-size:1.5em
}
.post, .page, .link, .photo {
    background: #fafafa;
}
.post a, .page a, .link a, .photo a {
    color: #2ca6cb;
}
.fa {
	display:inline-block;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.clearfix {
	zoom:1
}
.clearfix:before,.clearfix:after {
	content:"";
	display:table
}
.clearfix:after {
	clear:both
}
::-webkit-input-placeholder {
	color:#fff;
	padding:2px 0 0 4px
}
::-moz-placeholder {
	color:#fff;
	padding:2px 0 0 4px
}
:-ms-input-placeholder {
	color:#fff;
	padding:2px 0 0 4px
}
::-webkit-input-placeholder::before {
	font-family:"FontAwesome";
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f002";
	padding-right:4px
}
::-moz-placeholder:before {
	font-family:"FontAwesome";
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f002";
	padding-right:4px
}
:-ms-input-placeholder::before {
	font-family:"FontAwesome";
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f002";
	padding-right:4px
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none
}
::-webkit-search-cancel-button:after {
	font-family:"FontAwesome";
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:'\f00d';
	color:#fff;
	padding-right:4px
}
/* css3 animate */
.animated {
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-o-animation-duration:1s;
	-ms-animation-duration:1s;
	animation-duration:1s
}
@-webkit-keyframes fadeIn {
	0% {
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0)
}
100% {
	opacity:1;
	-ms-filter:none;
	filter:none
}
}.fadeIn {
	-webkit-animation-name:fadeIn;
	-moz-animation-name:fadeIn;
	-o-animation-name:fadeIn;
	-ms-animation-name:fadeIn;
	animation-name:fadeIn
}
.fadeOut {
	-webkit-animation-name:fadeOut;
	-moz-animation-name:fadeOut;
	-o-animation-name:fadeOut;
	-ms-animation-name:fadeOut;
	animation-name:fadeOut
}
@-moz-keyframes fadeInDown {
	0% {
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	-webkit-transform:translateY(-20px);
	-moz-transform:translateY(-20px);
	-o-transform:translateY(-20px);
	-ms-transform:translateY(-20px);
	transform:translateY(-20px)
}
100% {
	opacity:1;
	-ms-filter:none;
	filter:none;
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	-o-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0)
}
}@-webkit-keyframes fadeInDown {
	0% {
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	-webkit-transform:translateY(-20px);
	-moz-transform:translateY(-20px);
	-o-transform:translateY(-20px);
	-ms-transform:translateY(-20px);
	transform:translateY(-20px)
}
100% {
	opacity:1;
	-ms-filter:none;
	filter:none;
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	-o-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0)
}
}@-o-keyframes fadeInDown {
	0% {
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	-webkit-transform:translateY(-20px);
	-moz-transform:translateY(-20px);
	-o-transform:translateY(-20px);
	-ms-transform:translateY(-20px);
	transform:translateY(-20px)
}
100% {
	opacity:1;
	-ms-filter:none;
	filter:none;
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	-o-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0)
}
}@keyframes fadeInDown {
	0% {
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	-webkit-transform:translateY(-20px);
	-moz-transform:translateY(-20px);
	-o-transform:translateY(-20px);
	-ms-transform:translateY(-20px);
	transform:translateY(-20px)
}
100% {
	opacity:1;
	-ms-filter:none;
	filter:none;
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	-o-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0)
}
}

/****************/
#header {
	width:100%;
	-webkit-box-shadow:2px 4px 5px rgba(3,3,3,0.2);
	box-shadow:2px 4px 5px rgba(3,3,3,0.2);
	background:url("../../") center #2ca6cb;
	color:#fff;
	padding:3em 0 2em;
}
#header .header-content {
	width:1000px;
	margin:0 auto;
	position:relative;
}
#header .header-content a {
	display:block;
	color:#fff;
	position:relative;
}
#header .imglogo a:before {
	position:absolute;
	content :"";
	left:0;
	top:0;
	width:100%;
	height:100%;
	border-radius: 50%;
	-webkit-animation : boxshadow 2s infinite;
	   -moz-animation : boxshadow 2s infinite;
		    animation : boxshadow 2s infinite;
}
@-webkit-keyframes boxshadow {
	0% {
		box-shadow:0 0 0 5px rgba(255,255,255,.8);
	}
	100% {
		box-shadow:0 0 0 20px rgba(255,255,255,.001);
	}
}
@-moz-keyframes boxshadow {
	0% {
		box-shadow:0 0 0 5px rgba(255,255,255,.8);
	}
	100% {
		box-shadow:0 0 0 20px rgba(255,255,255,.001);
	}
}
@keyframes boxshadow {
	0% {
		box-shadow:0 0 0 5px rgba(255,255,255,.8);
	}
	100% {
		box-shadow:0 0 0 20px rgba(255,255,255,.001);
	}
}
.header-content .imglogo {
	float:left;
}
.header-content .imglogo img { width:5em; height:5em;-webkit-border-radius:50%; border-radius:50%; border:3px solid #fff; display: block;}
.header-content .textlogo {margin:1em 0 0 7em;}
.header-content .site-name a {font-size: 30px; line-height: 40px;}

.nav {float:right;}
.navList li {display:inline-block; }
.navList li a {
	font-size: 1.4em;
	padding:.2em 1em;
    cursor: pointer;
}
.navList li a:hover {
	background:#1b7f9e;
	color:#e9cd4c
}
.shownav {
	max-height:40em
}

#container {width:1000px; margin:35px auto 0;}
.articleItem {
	background:#fafafa;
	margin-bottom:1.5em;
    -webkit-box-shadow : 0 1px 5px rgba(0,0,0,.2);
    -moz-box-shadow : 0 1px 5px rgba(0,0,0,.2);
    box-shadow : 0 1px 5px rgba(0,0,0,.2);
}
.articleItem .article-content p {margin:0;}
.articleItem .img-logo {
	max-width:180px;
	max-height:96px;
	display:block;
	margin-right:.7em;
	margin-left:.7em;
	padding:0;
	float:right;
	clear:right
}
.articleItem .img-topic {
	max-width:300px;
	max-height:1800px;
	display:block;
	margin-left:.7em;
	margin-right:.7em;
	padding:0;
	float:right;
	clear:right
}
.articleItem .article-more-link a {
	display:inline-block;
	line-height:1em;
	padding:6px 15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	background:#ddd;
	color:#817c7c;
	text-decoration:none;
}
.articleItem .article-more-link a:hover {
	background:#2ca6cb;
	color:#fff;
	text-decoration:none
}
#archive-page .post a {
	font-size:.9em;
	padding:.5em;
}
.article-info {position:relative; padding:10px 0 15px; border-bottom: 1px solid #d8d8d8;}
.article-info  h1 {
	padding:.2em 3%;
	font-size:170%;
	line-height:1.5;
	word-wrap:break-word;
	word-break:normal;
	border-left:5px solid #2ca6cb
}
.article-info h1 a {color:#2ca6cb;}
.article-info .article-time {position:absolute; right:15px; bottom:25px; font-size: .8em;}
.article-content {padding:35px 25px; color: #413f3f;}
.articleItem .article-content .article-more-link {text-align: right; margin-top:10px;}
.article-content p {
    margin-top: 1em;
}
#main.post {
    -webkit-box-shadow:0 0 5px  rgba(0,0,0,.2);
    -moz-box-shadow:0 0 5px  rgba(0,0,0,.2);
    box-shadow:0 0 5px  rgba(0,0,0,.2);
}
#page { padding: 10px 0; background:#fafafa;}
.page-nav {
	text-align:center;
	overflow:hidden;
}
.page-nav a,.page-nav span {
	border:1px solid #e5e5e5;
	display:inline-block;
	padding:.5em 1em
}
.page-nav a {
	position:relative;
	color:#2ca6cb;
}
.page-nav a:hover {
	background:#2ca6cb;
	color:#fff
}
.page-nav .prev {padding-left:1.5em;}
.page-nav .next {padding-right:1.5em;}
.page-nav .prev:before,.page-nav .next:before {position:absolute; top:7px; font-family: initial;}
.page-nav .prev:before {content:"<"; left:.5em;}
.page-nav .next:before {content:">"; right:.5em;}
.page-nav .page-number {
	padding:.5em 1em;
}
.page-nav .current {
	color:#ea6753;
	border:none;
	font-weight:bold
}
.page-nav .space {
	color:#2ca6cb
}

#footer {
    overflow: hidden;
    margin-top:40px;
    padding-bottom: 20px;
	background:#333;
	position:relative;
}
#footer .line {
	height:14em;
    width:10em;
	float:left;
	position:relative;
    margin-left:5em;
}
#footer .line span {
	display:block;
	width:.5em;
	height:6.25em;
	border-right:.125em solid #fff;
	margin:0 auto;
}
.author {
	width:6.875em;
	height:6.875em;
	margin:0 auto;
	background:no-repeat url("../img/author.jpg") left top;
	-webkit-background-size:6.875em 6.875em;
	-moz-background-size:6.875em 6.875em;
	background-size:6.875em 6.875em;
	-webkit-border-radius:3.4375em;
	border-radius:3.4375em;
	-webkit-transition:-webkit-transform 2s ease-out;
	-moz-transition:-moz-transform 2s ease-out;
	-o-transition:-o-transform 2s ease-out;
	-ms-transition:-ms-transform 2s ease-out;
	transition:transform 2s ease-out;
}
.author:hover {
	-webkit-transform:rotateZ(360deg);
	-moz-transform:rotateZ(360deg);
	-o-transform:rotateZ(360deg);
	-ms-transform:rotateZ(360deg);
	transform:rotateZ(360deg)
}

.info {
	font-size:120%;
	line-height:1.3em;
	margin:0 auto;
	color:#fff;
	margin:6em 0 0;
	float:left;
}
#totop {
	position:fixed;
	bottom:5em;
	right:1em;
	cursor:pointer;
}

.article-nav {border-top:1px solid #d8d8d8; padding:20px 30px; overflow:hidden;}
.article-nav strong {
	font-size:1em;
	font-weight:bold
}
.article-nav a {
	display:block;
	overflow:hidden
}
.article-nav .pageBtn a {padding:5px 15px; border-radius: 3px;}
.article-nav .prev a:hover,.article-nav .next a:hover {
	background:#2ca6cb;
	color:#fff
}
.article-nav .prev {
	float:left;
}
.article-nav .prev strong {
}
.article-nav .next {
	float:right;
}
.article-nav .next strong {
	padding-right:1.8em
}


.archive-title {
    float:left;
	padding:2em 1em;
    width: 12em;
	background:#fafafa;
	border-left:.5em solid #ccc;
}

.archive-part  {
	margin-left:16em;
}

.archive-title h2 {
    padding:0 0 1em;
	color:#2ca6cb;
	font-size:120%
}
.archive-title a {
	color:#2ca6cb;
	-webkit-transition:color 0.5s;
	-moz-transition:color 0.5s;
	-o-transition:color 0.5s;
	-ms-transition:color 0.5s;
	transition:color 0.5s;
}
.archive-title a:hover {
	color:#2ca6cb;
	-webkit-transition:color 0.5s;
	-moz-transition:color 0.5s;
	-o-transition:color 0.5s;
	-ms-transition:color 0.5s;
	transition:color 0.5s
}

#archive-page .post a {
	font-size:.9em;
	padding:.5em ;
}

#archive-page .post {
	background:#fafafa;
	margin-bottom:.125em;
}
#archive-page .post a {
	display:block;
	border-left:.5em solid #ccc;
	-webkit-transition:border-left 0.45s;
	-moz-transition:border-left 0.45s;
	-o-transition:border-left 0.45s;
	-ms-transition:border-left 0.45s;
	transition:border-left 0.45s;
	padding:1em .5em;
}
#archive-page .post a:hover {
    border-left: .5em solid #2ca6cb;
}
#archive-page .post a time {
	color:#817c7c;
	display:inline-block;
	margin:.5em 0;
	font-size:.9em;
}

#archive-page .post h6 {display:inline-block; padding-left:25px; font-size:1.4em}
.archive-list li {padding:.2em 0;}
.archiveslist .archive-list-count:before {
	content:"("
}
.archiveslist .archive-list-count:after {
	content:")"
}

#main.post .article-info {padding:20px 0;}
#main.post .article-content {padding-top: 0;}
#main.post .article-content h1 {
  margin: 1em 0;
  font-size: 2.52rem;
}
#main.post .article-content h2 {
  margin: 1em 0;
  font-size: 1.4em;
}
#main.post .article-content h3 {
  margin: 1em 0;
  font-size: 1.82rem;
}
#main.post .article-content h4 {
  margin: 1em 0;
  font-size: 1.47rem;
}
#main.post .article-content h5 {
  margin: 1em 0;
  font-size: 1.12rem;
}
#main.post .article-content h6 {
  margin: 1em 0;
  font-size: 0.77rem;
}
#main.post .article-content hr {
  margin: 2rem 0;
  border: none;
  height: 1px;
  background: #ddd;
}
#main.post .article-content p {
	line-height: 30px;
  margin: 1rem 0;
}
#main.post .article-content a {
  color: #4fa1db;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}
#main.post .article-content a:hover {
  color: #216da3;
  text-decoration: underline;
}
#main.post .article-content table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #eee;
}
#main.post .article-content th,
#main.post .article-content td {
  padding: 8px 16px;
  line-height: 22px;
  vertical-align: top;
  border: 1px solid #eee;
}
#main.post .article-content ol {
  margin-left: 30px;
}
#main.post .article-content ol li {
  list-style: decimal;
}
#main.post .article-content ul {
  margin-left: 30px;
}
#main.post .article-content ul li {
  list-style: disc;
}
#main.post .article-content pre {
  display: block;
  overflow: auto;
  background-color: #f7f7f7;
  border-radius: 4px;
}

#main.post .article-content img {padding:5px 0; display: block;}
